.header {
  display: flex;
  padding: 12px;
  min-width: 100vw;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 5rem;
  background: #f5f5dc;
  position: fixed;
  box-shadow:
  0px 5.7px 9.4px rgba(0, 0, 0, 0.032),
  0px 19px 31.7px rgba(0, 0, 0, 0.048),
  0px 85px 142px rgba(0, 0, 0, 0.08)
;
}

.header h4:hover {
  color: #5e5e5e;
}